.projects-container {
    padding: 0 30%;
}

.projects-container h2 {
    font-size: 2.3rem;
    color: rgb(240, 240, 240);
}

.projects-list {
    padding: 0;
    display: flex;
    list-style-type: none;
    gap: 2rem;
}

@media (width <= 1000px) {
    .projects-container {
        padding: 0rem 2rem;
    }
}