.link-container {
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    text-decoration: none;
    border-radius: 18px;
    transition: 0.1s;
    color: inherit;
    padding: 1rem;
}

.link-container:hover {
    transform: scale(1.02);
}

.link-container > li {
    list-style-type: none;
}

.project-display-container {
    display: flex;
    gap: 1rem;
    padding-bottom: 0.5rem;
}

#project-name {
    font-size: 2rem;
}

.header-text {
    margin: 0;
    padding: 0;
}

#headline {
    font-size: 1rem;
}

.project-display-container figure {
    flex: 4;
    margin: 0;
}

.project-img {
    width: 100%;
    border-radius: 18px;
}

.project-display-container article {
    flex: 5;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    place-content: center;
    list-style-type: none;
    padding: 0;
    gap: 0.5rem;
}

.tags li {
    padding: 0.3rem;
    color: #3187d6;
    background-color: #3C9DF844;
    border-radius: 20px;
}

.features {
    list-style-type: none;
    padding: 0;
}

@media (max-width:821px) {
    /* .link-container {
        max-width: 70%;
    } */

    .project-display-container {
        flex-direction: column;
        place-items: center;
        text-align: center;
    }

    .project-display-container figure {
        max-width: 75%;
    }
}