.project-icon {
    text-decoration: none;
    transition: 0.2s ease-out;
}

.project-icon div:hover {
    transform: scale(1.15);
}

.project-icon, .project-icon:visited {
    color: #0074D9;
}

.project-icon div {
    max-width: 7rem;
    text-align: center;
    background-color: #1e1e1e;
    background-size: cover;
    border-radius: 18px;
    padding: 2rem;
    transition: 0.1s ease-out;
}

.project-icon div:hover {
    background-color: #2c2c2c;
    color: rgb(173, 173, 173);
}