:root {
    /* Light theme */
    --light-bg: white;
    --light-fg: #4e4e4e;
    --light-border: black;

    /* Dark theme */
    /* --dark-bg: black;
    --dark-fg: white;
    --dark-border: gray; */
    
    /* Defaults */
    --current-bg: var(--light-bg);
    --current-fg: var(--light-fg);
    --current-border: var(--light-border);
}

* {
    box-sizing: border-box;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--current-bg);
    color: var(--current-fg);
    user-select: none;
}

/* @media (prefers-color-scheme: light) {
    :root {
        --current-bg: var(--light-bg);
        --current-fg: var(--light-fg);
        --current-border: var(--light-border);
    }
} */
